{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>Réinitialisation de mot de passe</h1>
            <form method="post">
                {{ form_row(passForm.password, {
                    label: 'Nouveau mot de passe',
                    attr: {
                        placeholder: 'Entrez votre nouveau mot de passe',
                        class: 'form-control'
                    }
                }) }}

                <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('reset_password') }}"
                >
            </form>
        </div>
    </div>
</section>
{% endblock %}
