{% extends 'base.html.twig' %}

{% block title %}Suppression d'un utilisateur{% endblock %}

{% block body %}
    <h1>Suppression d'un utilisateur</h1>

    <p>Êtes-vous sûr de vouloir supprimer cet utilisateur ? Cette action est irréversible.</p>

    <form action="{{ path('admin_users_delete', {id: user.id}) }}" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">

        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>

    <a href="{{ path('admin_users_index') }}" class="btn btn-secondary mt-2">Annuler et retourner à la liste des utilisateurs</a>
{% endblock %}
